body{
	color: #a6a8a5;
}
button{
	font-size: 20px;
	width: 70px;
	padding: 15px;
	text-align: center;
}
#grid{
	border-color: lightgrey;
  	border-style: groove;
  	border-width: 0px;
  	align-content: center;
  	margin: 150px 100px 150px 100px;
  	text-align: center;
  	align-content: center;
}
#small-margin{
	margin: 5px 20px 5px 20px;
}